/*Style Sheet Yo*/

p, h1, h3, button, .btn, #email {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
}

/*Body*/
body {
	text-align: center;
}

.wrap {
	margin: 0 auto;
	display: inline-block;
	overflow: hidden;
}

/*Email Envelope Glyph*/
.glyphicon.glyphicon-envelope {
	color: black;
	margin: 17px;
}

/*Initials*/
#initials {
	font-size: 57px;
	font-family: 'PT Sans Caption', sans-serif;
	padding: 60px 0 60px 0;
}

/*Name*/
#name {
	font-size: 23px;
}

/*Location*/
#location {
	font-size: 23px;
	color: darkgrey;
	padding: 10px 0 10px;
}
/*Title*/
#title {
	font-size: 20px;
	color: black;
	padding-bottom: 20px;
}

/*Portfolio Pieces*/
img {
	max-width: 100%;
	padding: 25px 20px 25px;
	margin: 0 auto;
	display: block;
}


/*contact button*/
#email {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	color: #ffffff;
	font-weight: 500;
	font-size: 20px;
	background: #f45c43;
	padding: 10px 32px 10px 32px;
	text-decoration: none;
	text-transform: uppercase;

}

#email:hover, #email:link {
	background: #191f1d;
	text-decoration: none;
	color: #fff;
}

#ps {
	margin: 28px;
	font-size: 23px;
}

a, a:focus, a:hover, a:active {
  display: inline-block;
  text-align: center;
}

/*Social Media Links*/

#social-media {
	padding-top: 15px;
	padding-bottom: 20px;
}